<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Place :</title>
    </head>
    <body>
        <h1>New Location :</h1>
         <form action="/place" method="POST">
            Location Name: <input type="text" name="name" /><br/>
            Picture: <input type="text" name="img" /><br/>
            Time Spent : <input type="text" name="duration" placeholder="Hr/Day">
            Expense? <input type="number" name="expense" placeholder="USD">
            Fun OR Nah: <input type="checkbox" name="fun" /><br/>
            <input type="submit"  value="Create Place" />
        </form><br/>

        <a href="/place">Home Page</a>

    </body>
</html>