<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create User</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <h1>Create User</h1>
        <form action="/log-in" method="POST">
           Create your user name: <input type="text" name="username" placeholder="username"/>
            Create your password: <input type="password" name="password" />

            <input type="submit" value="Create User" />
        </form>
    </body>
</html>