<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Been_to</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <style type="text/css">
                    #header{
                      width: 100%;
                      display: inline-block; 
                      font-size: 50px;
                    }
          
                    li {
                         list-style-type: none;
                         color: lightgreen;
                        }
                    #para{
                        font-size: 40px;
                        font-family: Roboto;
                        color: ghostwhite;                       
                    }   
                    #delete form{
                    

                    }
                    html{
                        background-color: #2a8237; 
                    }
                    div{
                      height: 150px;
                      width: 100%;
                      display: inline-block;
                      font-size: 100px;
                    }
                </style>    
    </head>
    <body>
       <!-- if user have logged in show below -->
   
        <a href="" id = "header" class="card-panel steelblue lighten-3" >BEEN_TO</a>

        <% for ( let i = 0 ; i < place.length ; i++) { %>
          

            
              <!-- <ul class="collection with-header"></ul> -->
              
            <p id="para">Start adding places : </p> 
             <div>
              <li>
                <a href="/place/<%= place[i].id %>/"> <%= place[i].location %>
                  
                </a>
              </li>
            </div>
            <br/><br/>
              
              
            
            
            <a class="card-panel steelblue lighten-3" href="/place/<%= place[i].id %>/edit">Edit</a><br/><br/><br/>
            
  <%  }  %>


         <a class="btn-floating btn-large waves-effect waves-light blue" href="/place/new"><i class="material-icons">+</i></a><br/><br/>

       <form action="/sessions?_method=DELETE" method="POST" >
            <input id="delete" type="submit" value="Logout"/>
        </form>

  
    </body>
</html>